@font-face
    font-family $graphik
    font-display optional
    font-style normal
    font-weight 400
    src url('assets/fonts/Graphik-Regular.eot')
    src url('assets/fonts/Graphik-Regular.woff2') format('woff2'),
        url('assets/fonts/Graphik-Regular.woff') format('woff'),
        url('assets/fonts/Graphik-Regular.ttf') format('truetype'),
        url('assets/fonts/Graphik-Regular.svg#Graphik-Regular') format('svg')

@font-face
    font-family $graphik
    font-display optional
    font-style italic
    font-weight 400
    src url('assets/fonts/Graphik-RegularItalic.eot')
    src url('assets/fonts/Graphik-RegularItalic.woff2') format('woff2'),
        url('assets/fonts/Graphik-RegularItalic.woff') format('woff'),
        url('assets/fonts/Graphik-RegularItalic.ttf') format('truetype'),
        url('assets/fonts/Graphik-RegularItalic.svg#Graphik-RegularItalic') format('svg')

@font-face
    font-family $graphik
    font-display optional
    font-style normal
    font-weight 700
    src url('assets/fonts/Graphik-Bold.eot')
    src url('assets/fonts/Graphik-Bold.woff2') format('woff2'),
        url('assets/fonts/Graphik-Bold.woff') format('woff'),
        url('assets/fonts/Graphik-Bold.ttf') format('truetype'),
        url('assets/fonts/Graphik-Bold.svg#Graphik-Bold') format('svg')

@font-face
    font-family $graphik
    font-display optional
    font-style italic
    font-weight 700
    src url('assets/fonts/Graphik-BoldItalic.eot')
    src url('assets/fonts/Graphik-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/Graphik-BoldItalic.woff') format('woff'),
        url('assets/fonts/Graphik-BoldItalic.ttf') format('truetype'),
        url('assets/fonts/Graphik-BoldItalic.svg#Graphik-BoldItalic') format('svg')