:root
    --login-bar-height 0
    --menu-bar-height 55

.logged-in
    +above(783)
        /* $min-width: $783px */
        --login-bar-height 32
    +below(782)
        /* $max-width: $782px */
        --login-bar-height 46
