:root
    --login-bar-height 0
    +above(1200)
        /* $min-width: $1200px */
        --header-height 150
    +between(768, 1199)
        /* $min-width: $767px // $max-width: $1199px */
        --header-height 90
    +below(767)
        /* $max-width: $767px */
        --header-height 55

.logged-in
    +above(783)
        /* $min-width: $783px */
        --login-bar-height 32
    +below(782)
        /* $max-width: $782px */
        --login-bar-height 46
