/* ---------------------------- *\
    
    $Variables

\* ---------------------------- */

$fontSize           = 16
$lineHeight         = 22
$darkGrey           = #333
$lightGrey          = #666
$basetransition     = 250ms linear
$pseudotransition   = 250ms ease-in-out
$rubik              = 'Rubik', sans-serif

// $colors
$mmPurple           = #7526ff
$mmRed              = #f45a5a
$mmYellow            = #ffc521
$mmBrown            = #907427
$mmTurquoise        = #63f0e1
$mmOrange           = #f0981e
$mmGreen            = #1ebd3b

// $buttonName $textColor $buttonBackgroundColor $buttonHoverColor $buttonHoverBackgroundColor
$buttonsArray = 'white-purple' $mmPurple white white darken($mmPurple, 50%),
                'white-red' $mmRed white white darken($mmRed, 50%),
                'purple' white $mmPurple white darken($mmPurple, 15%),
                'red' white $mmRed white darken($mmRed, 15%),
                'yellow' white $mmYellow white darken($mmYellow, 15%),
                'brown' white $mmBrown white darken($mmBrown, 15%),
                'turquoise' white $mmTurquoise white darken($mmTurquoise, 15%),
                'orange' white $mmOrange white darken($mmOrange, 15%),
                'green' white $mmGreen white darken($mmGreen, 15%)