/* ---------------------------- *\
    
    $Variables

\* ---------------------------- */

$fontSize           = 16
$lineHeight         = 22
$darkGrey           = #2c2c2c
$lightGrey          = #888888
$basetransition     = 250ms linear
$pseudotransition   = 250ms ease-in-out
$rubik              = 'Rubik', sans-serif

// $colors
$mmPurple           = #7526ff
$mmRed              = #f45a5a
$mmBlue             = #2e73e5
$mmDarkRed          = #842222
$mmYellow           = #ffe42b
$mmBrown            = #907427
$mmTurquoise        = #63f0e1
$mmOrange           = #f0981e
$mmOrange           = #f0981e
$mmGreen            = #1ebd3b

// $elemName $textColor $backgroundColor $hoverColor $hoverBackgroundColor
$colorsElemsArray = 'white-purple' $mmPurple white white darken($mmPurple, 50%),
                'white-red' $mmRed white white darken($mmRed, 50%),
                'white-blue' $mmBlue white white darken($mmBlue, 50%),
                'white-green' $mmGreen white white darken($mmGreen, 50%),
                'dark-grey' white $darkGrey white lighten($darkGrey, 15%),
                'dark-grey-brown' white $darkGrey white $mmBrown,
                'purple' white $mmPurple white darken($mmPurple, 15%),
                'red' white $mmRed white darken($mmRed, 15%),
                'blue' white $mmBlue white darken($mmBlue, 15%),
                'yellow' white $mmYellow white darken($mmYellow, 15%),
                'brown' white $mmBrown white darken($mmBrown, 15%),
                'turquoise' white $mmTurquoise white darken($mmTurquoise, 15%),
                'orange' white $mmOrange white darken($mmOrange, 15%),
                'green' white $mmGreen white darken($mmGreen, 15%)