/content/upgrade
/content/themes
/content/plugins
/content/languages
/content/themes/twenty*
/content/debug.log
/node_modules
/projects
/private
/shared
/dist
/wp
/*.sql
/.nova
package-lock.json
.htaccess
.DS_Store