/* ---------------------------- *\

    $About

\*----------------------------- */

.page__about
    .block-columns
        color white
        background-color $mmPurple

.about__image, .about__video
    position relative
    &::before
        top 0
        left 0
        z-index 1
        content ''
        width 100%
        height 100%
        position absolute
        pointer-events none
        mix-blend-mode lighten
        background-color rgba($mmPurple,.56)

/* ---------------------------- *\

    $Media $Queries

\*----------------------------- */

+below(767)
    /* $max-width: $767px */
    
    .page__about
        .page__header .content
            max-width 220px
        .about__image
            order 1
            + .block-column
                order 2
                + .block-column
                    order 4
        .about__video
            order 3
    
