/* ---------------------------- *\

    $About

\*----------------------------- */

.page__about
    .block-columns
        color white
        background-color $mmPurple

.about__image, .about__video
    position relative
    &::before
        top 0
        left 0
        z-index 1
        content ''
        width 100%
        height 100%
        position absolute
        pointer-events none
        mix-blend-mode lighten
        background-color rgba($mmPurple,.56)

/* ---------------------------- *\

    $Media $Queries

\*----------------------------- */

+above(1200)
    /* $min-width: $1200px */
    
    .block-column--text
        padding-left 120px
        padding-right 120px
        h2
            fontSize(40)

+below(767)
    /* $max-width: $767px */
    
    .page__template-about
        .page__header .content
            max-width 220px