/* ---------------------------- *\

    $About

\*----------------------------- */

.about__section
    text-align center
    background-color white
    .content
        text-align left

/* ---------------------------- *\

    $Media $Queries

\*----------------------------- */

+below(767)
    /* $max-width: $767px */
    
    .page__template-about
        .page__header .content
            max-width 220px