/* ---------------------------- *\

    $Comics

\*----------------------------- */

.comics__list
    text-align center
    background-color #ffe42b
    .comic
        text-align left
        border-color $mmBrown
        .meta
            color $mmBrown
        .categories a
            color $mmBrown

.comic.item
    border-color $darkGrey
    figure
        &::before
            mix-blend-mode multiply
            background-color rgba($mmYellow, .7)
    .beta a
        color $darkGrey
    .meta, .meta a, .item__link
        color $mmBrown
    .item__link .ico
        fill $mmBrown