/* ---------------------------- *\

    $Comics

\*----------------------------- */

.comics__list
    text-align center
    background-color #ffe42b
    .comic--item
        text-align left
        border-color $mmBrown
        .meta
            color $mmBrown
        .categories a
            color $mmBrown