/* ---------------------------- *\

    $Development $Blog

\*----------------------------- */

.dev-posts__list
    background-color #e1e1e1

.single--dev-post
    .page__header
        flex-direction column
        > .content
            margin-bottom 4em
        .meta time::after
            background-color $darkGrey

.dev-post
    &--single
        .wrapper
            max-width 680px
        a
            color $lightGrey

.dev-post.item
    border-bottom-color $darkGrey
    figure a
        &::before
            mix-blend-mode multiply
            background-color rgba(#d2d2d2, .7)
        &::after
            mix-blend-mode multiply
            background-color rgba($lightGrey, .7)
    .beta
        &, & a
            color $darkGrey

.no-touch
    .dev-post.item
        figure a
            &::before, &::after
                transition opacity $basetransition
            &:hover::before, &:hover::after
                transition opacity $pseudotransition
            &:hover::before
                opacity 0
            &:hover::after
                opacity 1
        .title a
            &:hover
                color $lightGrey
            &[data-lang]:hover::after
                color white
                background-color $lightGrey
        .item__link:hover
            color $darkGrey
            .ico
                fill @color

/* ---------------------------- *\

    $Media $Queries

\*----------------------------- */

+above(1200)
    /* $min-width: $1200px */
    
    .page__template-dev-blog
        .page__header .content
            max-width 660px