/* ---------------------------- *\

    $Diaries

\*----------------------------- */

.page__template-diaries, .single--diary
    .page__header
        background-color #ffdcdc
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d07878' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")

.single--diary
    .page__header
        flex-direction column
        > .content
            margin-bottom 4em
        .meta time::after
            background-color $darkGrey

.page__template-diaries
    min-height 100vh
    &, .main
        display flex
        flex-direction column
    .main, .diaries__list
        flex 1

.page__template-diaries .diaries__list .wrapper, 
.diary--single .wrapper
    max-width 800px

.diary--single
    a
        color $mmLightPink
        text-decoration underline

.diaries__list
    background-color #f1f1f1
    .item a
        color $darkGrey

.no-touch
    .diaries__list .item a
        transition color $basetransition
        &:hover
            color $mmDarkPink
            transition color $pseudotransition
    .diary--single a
        transition color $basetransition
        &:hover
            color $mmDarkPink
            transition color $pseudotransition