/* ---------------------------- *\

    $Home

\*----------------------------- */

.page__template-home
    .page__header
        background-color var(--main-page-color)
        canvas
            top 0
            left 0
            z-index 0
            max-width 100%
            position absolute
    .alpha-warning
        color var(--main-page-color)

.home__section
    text-align center
    .section__header .title
        text-align left

.home__blog
    color white
    background-color $mmRed

.post.item
    color white
    border-bottom-color rgba(white, .25)
    figure
        &::before
            top 0
            left 0
            z-index 1
            content ''
            width 100%
            height 100%
            position absolute
            pointer-events none
            mix-blend-mode lighten
            background-color rgba($mmRed, .7)
    .meta
        color #fab9b9
        time::after
            background-color @color
    .beta a
        color white
    .item__link
        color $mmDarkRed
        .ico
            fill $mmDarkRed

.home__comics
    background-color $mmYellow
    .section__header .title
        max-width 230px
        color $darkGrey
    .comic--item
        border-color $darkGrey
        .beta a
            color $darkGrey
        .meta, .meta a, .item__link, .item__link .ico
            color $mmBrown
        .meta
            margin-bottom 0

/* ---------------------------- *\

    $Media $Queries

\*----------------------------- */

+above(1200)
    /* $min-width: $1200px */
    
    .page__template-home
        .page__header
            .content
                max-width 550px
                .button
                    margin-top 30px

+between(768, 1199)
    /* $min-width: $768px // $max-width: $1199px */
    
    .page__template-home
        .page__header
            .content
                max-width 390px
                .button
                    margin-top 25px

+above(768)
    /* $min-width: $768px */
    
    .home__blog 
        .section__header .title
            max-width 590px

    .home__comics
        .section__header .title
            max-width 330px

+below(767)
    /* $max-width: $767px */
    
    .page__template-home
        .page__header
            .content
                max-width 233px
                .button
                    margin-top 10px
    .home__section
        padding-top 55px
        .section__header .title
            fontSizeLine(32, 36)
