/* ---------------------------- *\

    $Thoughts

\*----------------------------- */

.posts__list
    background-color #f45a5a

.post
    .wrapper
        max-width 680px
    &.single, &--single
        background-color white
    &.single
        .meta time::after
            background-color #d4d4d4
    &--single
        .alignfull
            margin-top 2rem
            margin-bottom 2rem
    &__comment-form
        text-align center
        padding-bottom 50px
        header
            text-align left
            margin-bottom 10px
        .title
            margin-bottom 0
            line-height 30px