/* ---------------------------- *\

    $Thoughts

\*----------------------------- */

.thoughts__list
    background-color #f45a5a

.thought
    &.single--thought, &--single
        background-color white
    &--single
        .alignfull
            margin-top 2rem
            margin-bottom 2rem
        .wrapper
            max-width 680px
        a
            color $mmRed

.thought.item
    color white
    border-bottom-color rgba(white, .25)
    figure
        &::before
            mix-blend-mode lighten
            background-color rgba($mmRed, .7)
    .title a[data-lang]::after
        color $mmRed
    .meta
        color #fab9b9
        time::after
            background-color @color
    .beta a
        color white
    .item__link
        color $mmDarkRed
        .ico
            fill $mmDarkRed