/* ---------------------------- *\

    $Works

\*----------------------------- */

.works__list
    text-align center
    background-color $mmBlue

.work
    text-align left
    &__meta
        padding-left 10px
        padding-right 10px
        margin-bottom 50px
        display inline-block
        border-bottom 2px solid #d8d8d8
        > div
            margin-right 50px
            display inline-block
            vertical-align middle
            &:last-child
                margin-right 0
            span
                fontSize(14)
                text-transform uppercase
            .delta
                fontSize(20)
                margin-bottom 12px
                a
                    color $darkGrey
    &__intro
        z-index 1
        position relative
    &__intro, &__outro
        background-color #fff2f2

.work.item
    border-color #99bdfa
    header
        text-align center
        a
            display block
        .title
            color white
            margin-bottom 0
        p
            color #99bdfa
    figure
        margin-bottom 0
        a::before
            mix-blend-mode screen
            background-color $mmBlue
        a::after
            mix-blend-mode lighten
            background-color $mmBlue
    .item__link
        color darken($mmBlue, 50%)
        .ico
            fill @color

.no-touch
    .work__meta > div .delta a
        transition color $basetransition
        &:hover
            color $mmBlue
            transition color $pseudotransition
    .work.item
        figure a
            &::before, &::after
                transition opacity $basetransition
            &:hover::before, &:hover::after
                transition opacity $pseudotransition
            &:hover::before
                opacity 0
            &:hover::after
                opacity 1
        header
            .title, p
                transition color $basetransition
            a:hover
                .title, p
                    transition color $pseudotransition
                .title
                    color darken($mmBlue, 50%)
                p
                    color darken(#99bdfa, 50%)
        .item__link:hover
            color white
            .ico
                fill @color

/* ---------------------------- *\

    $Media $Queries

\*----------------------------- */

+above(1200)
    /* $min-width: $1200px */

    .works__list
        .work header p
            fontSize(20)

+below(767)
    /* $max-width: $767px */

    .page__template-works
        .page__header .content
            max-width 255px

    .works__list
        padding-top 30px
        .work header .title
            line-height 28px