/* ---------------------------- *\

    $Works

\*----------------------------- */

.works__list
    text-align center
    background-color white
    .work
        text-align left
        header
            text-align center
            a
                display block
            .title
                color $darkGrey
                margin-bottom 0
            p
                color $lightGrey
        figure
            margin-bottom 0
            border 1px solid #dedede
            a
                display block

.work
    background-color white
    &__intro, &__outro
        background-color #fff2f2

/* ---------------------------- *\

    $Media $Queries

\*----------------------------- */

+above(1200)
    /* $min-width: $1200px */

    .works__list
        .work header p
            fontSize(20)

+below(767)
    /* $max-width: $767px */

    .page__template-works
        .page__header .content
            max-width 255px

    .works__list
        padding-top 30px
        .work header .title
            line-height 28px