/* ---------------------------- *\

    $Works

\*----------------------------- */

.page__template-works
    .page__header .content
        max-width 255px

.works__list
    padding-top 30px
    text-align center
    background-color white
    .work
        text-align left
        header
            text-align center
            a
                display block
            .title
                color $darkGrey
                margin-bottom 0
                line-height 28px
            p
                color $lightGrey
        figure
            margin-bottom 0
            border 1px solid #dedede
            a
                display block