/* ---------------------------- *\

    $Footer

\*----------------------------- */

.footer
    padding-top 30px
    text-align center
    padding-bottom 20px
    background-color $mmYellow
    .logo--footer
        display block
        margin-bottom 10px
        svg
            width 80px
            height 84px
            fill $mmBrown
    &__nav
        margin-bottom 20px
        a
            display block
            color $mmBrown
    &__social-networks
        margin-bottom 25px
        a
            margin-right 15px
            display inline-block
            vertical-align middle
            &:last-child
                margin-right 0
        svg
            fill $mmBrown
        .twitter svg
            width 34px
            height 29px
        .github svg
            width 36px
            height 35px
        .instagram svg
            width 29px
            height 29px
        .youtube svg
            width 35px
            height 24px
        .linkedin svg
            width 29px
            height 29px

.colophon p
    color $mmBrown
    margin-bottom 0