/* ---------------------------- *\

    $Header

\*----------------------------- */

.header
    width 100%
    z-index 11
    color white
    position fixed
    padding 11px 16px
    top calc( var( --login-bar-height ) * 1px ) 
    height calc( var( --menu-bar-height ) * 1px )
    svg
        fill white
    &--light
        .toggle-nav__hamburger span
            background-color white
    &--light, &[data-header-type="light"]
        color $darkGrey
        svg
            fill $darkGrey
        .toggle-nav
            color $darkGrey
            &__hamburger
                background-color $darkGrey
    &[data-header-type="light"]
        .toggle-nav__hamburger span
            background-color var( --main-page-color )

.menu--opened
    .header
        color $mmPurple
        svg
            fill @color
        .toggle-nav
            color @color
            &__hamburger
                background-color @color
                span
                    background-color $mmTurquoise

.logo
    &, svg
        width 30px
        height 30px