/* ---------------------------- *\
    
    $Main

\* ---------------------------- */

html
    overflow-x hidden
    background-color var( --main-page-color )
    &.scrollbar--blocked
        overflow hidden

body
    overflow hidden
    position relative
    font-family $rubik
    width calc(100vw - var(--scrollbar))

.page__header
    text-align center
    position relative
    align-items center
    justify-content center
    .content
        margin auto
    .content, .meta
        z-index 1
        position relative
    p
        margin-bottom 0
    &[data-type="light"]
        color $darkGrey
    &[data-type="dark"]
        color white
    .meta
        .content
            fontSize(14)
            margin-left 1em
            text-align left
        .author
            fontSize(16)
    .avatar
        filter grayscale(1)
    &--hero
        height 100vh
        flex-flow column
        padding-bottom 55px
        padding-top calc((var(--header-height) + var(--login-bar-height)) * 1px)
        .meta
            margin-top auto
            align-items center
            .content
                color #d4d4d4
            .author
                color white
            time::after
                background-color #d4d4d4

.content-anchor
    z-index 1
    fill white
    bottom 30px
    display block
    centerObject(true, false)

.bg-image.alignfull
    top 0
    z-index 0
    height 100%
    position absolute
    img
        z-index 0
        height 100%
        object-fit cover
        position relative
    &::before
        top 0
        left 0
        right 0
        bottom 0
        z-index 1
        content ''
        position absolute
        background-color rgba($darkGrey, .3)

.section__header
    position relative
    margin-bottom 50px
    padding-bottom 32px
    .title
        margin-bottom 0
        &::after
            left 0
            bottom 0
            content ''
            height 2px
            width 100px
            position absolute
            background-color $darkGrey

.item
    display flex
    text-align left
    flex-flow column
    border-bottom 2px solid #d8d8d8
    figure
        position relative
        margin-bottom 15px
        a
            display block
        &::before
            top 0
            left 0
            z-index 1
            content ''
            width 100%
            height 100%
            position absolute
            pointer-events none
            mix-blend-mode lighten
            background-color rgba($mmPurple, .7)
    .beta
        margin-bottom 5px
    .meta
        color $lightGrey
        margin-bottom 1em
        time::after
            background-color $lightGrey
    .content
        p, li
            &:last-child
                margin-bottom 0
    &__link
        padding 1.5em 0
        margin-top auto
        display inline-block
        &, &:visited
            color $lightGrey
        .ico
            fill $lightGrey
        .ico, span
            display inline-block
            vertical-align middle
        span
            text-decoration underline

.meta
    time, .reading-time, .categories
        display inline-block
    time
        margin-right 2px
        position relative
        padding-right 7px
        text-transform lowercase
        &::after
            right 0
            content ''
            width 1px
            height 80%
            centerObject(false, true)

.avatar
    overflow hidden
    position relative
    border-radius 100%

.categories 
    a
        color $lightGrey
    p
        margin-bottom 0

.post
    background-color white
    .wrapper
        max-width 960px
    a
        text-decoration underline
    blockquote
        width 90%
        margin 0 auto 2em
        position relative
        background-color whitesmoke
        p, li
            color $lightGrey
            &:last-child
                margin-bottom 0
        &::before
            top 10px
            left -50px
            content ''
            opacity .1
            width 73px
            height 68px
            position absolute
            background-size 73px 68px
            background-image url('assets/images/ico-quotes.svg')
    &__main-image
        text-align center

.post
    &__comment-form, &__comments-list
        background-color whitesmoke
    &__comment-form
        text-align center
        .section__header
            text-align left
            margin-bottom 50px
            .title
                max-width 530px
                margin-bottom 15px
            .legend
                color $lightGrey
        .comment__reply-header
            display none
    &__comments-list
        .commentslist__header
            padding-left 70px
            position relative
            .title
                font-weight 400
            .ico
                left 0
                centerObject(false, true)
        .wrapper
            max-width 680px
        .comment-respond
            padding 2em
            border-radius 10px
            background-color #fafafa
            .mm__form
                text-align right

.comment__reply-header 
    margin-bottom 1em
    align-items center
    .title
        margin-bottom 0
    a
        margin-right 0
        margin-left auto
        text-decoration underline

.comment
    border-radius 10px
    background-color #ebebeb
    &__header
        display grid
        margin-bottom 20px
        .beta
            margin-bottom 0
        time
            fontSize(14)
            color $lightGrey
    &__content
        margin-bottom 2em
        p, li
            color #656565
            &:last-child
                margin-bottom 0
    &__reply
        text-align right
    .moderation
        color white
        padding 10px
        border-radius 4px
        background-color lighten($mmBlue, 15%)

.button
    font-weight 500
    font-family $rubik
    display inline-block
    &--filled
        border none
    span, .ico
        display inline-block
        vertical-align middle
    for $color in $buttonsArray
        &--{$color[0]}
            color $color[1]
            background-color $color[2]
            &:visited
                color $color[1]
            .ico
                fill $color[1]

.figure--border
    figure
        border 2px solid

.block-column
    margin-bottom 0
    position relative
    &--image
        img
            width 100%
            height 100%
            object-fit cover
    &--text
        display flex
        align-items center
    &--video
        .content
            width 100%
            height 100%
            padding 35.85%
            overflow hidden
            position relative
            background-size cover
        video
            top 0
            left 0
            width 150%
            height 100%
            margin-left -25%
            position absolute

.alpha-warning
    fontSize(9)
    padding 3px 6px
    border-radius 30px
    display inline-block
    background-color white
    text-transform uppercase

code
    padding 2px 5px
    background-color $darkGrey

.has-drop-cap:not(:focus):first-letter
    font-weight 500

.mm__form
    input[type=text], input[type=email], 
    input[type=tel], input[type=url],
    textarea
        width 100%
        border none
        padding 10px 5px
        font-family $rubik
        outline-style none
        background-color transparent
        border-bottom 2px solid #d8d8d8
    .fieldset
        padding-top 5px
        margin-bottom 8px
        position relative
        label
            top 0
            right 0
            fontSize(14)
            display none
            position absolute
            text-transform uppercase
        &.active
            label
                display block
        &--textarea
            margin-bottom 2em

.no-touch
    .button
        &, .ico
            transition all $basetransition
        &:hover, &:hover .ico
            transition all $pseudotransition
        for $color in $buttonsArray
            &--{$color[0]}:hover
                color $color[3]
                background-color $color[4]
                .ico
                    fill $color[3]

/* ---------------------------- *\

    $Media $Queries

\*----------------------------- */

+above(1200)
    /* $min-width: $1200px */
    
    .page__header
        .content
            max-width 830px
        .title
            margin-bottom 20px
            fontSizeLine(75, 75)
        p
            fontSize(25)
        &--hero .meta
            margin-left 0
            margin-right auto
            margin-bottom -30px

    .button
        fontSize(22)
        padding 10px 30px
        border-radius 26px
        span
            margin-right 10px
        .ico
            width 22px
            height 22px
    
    .items
        &__container
            grid-gap 2.85rem

    .item
        margin-bottom 4em
        .beta
            fontSizeLine(38, 46)
        .meta
            fontSize(16)
        .content
            p, li
                fontSize(20)
        &__link
            fontSize(20)
            .ico
                width 10px
                height 17px
    
    .post
        &__comments-list
            .commentslist__header .title
                fontSize(40)
        .beta, h2
            fontSizeLine(35, 40)
        .gamma, h3
            fontSizeLine(28, 32)
        p, li
            fontSizeLine(20, 35)
        blockquote
            padding 1.5em 2em 1.5em 50px
            p, li
                fontSizeLine(22, 35)
        &__main-image
            margin-bottom 4rem
    
    .block-column
        p, li
            fontSizeLine(20, 28)
        &--text
            padding-left 120px
            padding-right 120px
        h2
            fontSize(40)

    .mm__form
        input[type=text], input[type=email], 
        input[type=tel], input[type=url],
        textarea
            fontSize(20)
    
    .comment
        margin-bottom 2em
        &__header .beta
            fontSize(25)
        &__content
            p, li
                fontSize(20)

+below(1199)
    /* $max-width: $1199px */
    
    .page__header--hero
        .meta
            margin-bottom 30px

    .item
        margin-bottom 2em
        .beta
            fontSizeLine(25, 28)
        .meta, &__link
            fontSize(14)
    
    .comment
        margin-bottom 1em

+between(768, 1199)
    /* $min-width: $768px // $max-width: $1199px */

    .page__header
        .content
            max-width 500px
        .title
            margin-bottom 20px
            fontSizeLine(55, 55)
        p
            fontSize(22)
    
    .button
        fontSize(22)
        padding 10px 30px
        border-radius 26px
        span
            margin-right 10px
        .ico
            width 20px
            height 20px
    
    .items
        &__container
            grid-gap 2rem
    
    .post
        .beta, h2
            fontSizeLine(35, 40)
        .gamma, h3
            fontSizeLine(25, 30)
        p, li
            fontSizeLine(18, 28)
        blockquote
            padding 1em 1em 1em 40px
            p, li
                fontSizeLine(20, 30)
    &__main-image
        margin-bottom 2.8rem
    
    .comment
        &__header .beta
            fontSize(20)

+above(768)
    /* $min-width: $768px */
    
    .page__header
        padding-bottom 60px
        padding-top calc(((var(--header-height) + var(--login-bar-height)) * 1px) + 65px)
        
    .content-anchor
        height 30px
        svg
            width 30px
            height 30px
    
    .section__header .title
        fontSizeLine(52, 56)
        
    .items
        &__container
            display grid
            grid-template-columns 1fr 1fr
    
    .post__comment-form
        padding-top 50px
        padding-bottom 50px

    .single
        .mm__form
            .fieldset-group
                display grid
                grid-gap 20px
                grid-template-columns 1fr 1fr 1fr
            .fieldset--textarea
                grid-column 1 / span 3

    .comment
        padding 2em
        &__header
            grid-gap 20px
            grid-template-columns 64px 1fr
        &.depth-2, &.depth-3, &.depth-4, &.depth-5
            .comment__header
                grid-gap 15px
                grid-template-columns 44px 1fr

+below(767)
    /* $max-width: $767px */
    
    .page__header
        padding-bottom 30px
        padding-top calc(((var(--header-height) + var(--login-bar-height)) * 1px) + 15px)
        .content
            max-width 350px
        .title
            margin-bottom 10px
            fontSizeLine(33, 35)

    .button
        padding 10px 18px
        border-radius 22px
        span
            margin-right 5px
    
    .content-anchor
        height 20px
    
    .post
        &__comment-form
            padding-top 20px
            padding-bottom 20px
        .beta, h2
            fontSizeLine(30, 35)
        .gamma, h3
            fontSizeLine(25, 30)
        p, li
            line-height 26px
        blockquote
            margin-top 2em
            padding 2em 1em 1em
            p, li
                fontSizeLine(18, 26)
            &::before
                top -45px
                left -10px
        &__main-image
            margin-bottom 1.5rem

    .post__comments-list
        .children
            padding-left 10px

    .comment
        padding 1em
        &__header
            grid-gap 10px
            grid-template-columns 44px 1fr
            .beta
                fontSize(18)
        &.depth-2, &.depth-3, &.depth-4, &.depth-5
            .comment__header
                grid-template-columns 24px 1fr