/* ---------------------------- *\
    
    $Main

\* ---------------------------- */

html
    background-color var( --main-page-color )
    &.scrollbar--blocked
        overflow hidden

body
    overflow hidden
    position relative
    font-family $rubik
    width calc(100vw - var(--scrollbar))

.page__header
    text-align center
    position relative
    align-items center
    padding-bottom 30px
    justify-content center
    padding-top calc( ( (var( --menu-bar-height ) + var( --login-bar-height ) ) * 1px) + 15px )
    .content
        margin auto
    .content, .meta
        z-index 1
        position relative
    .title
        margin-bottom 10px
        fontSizeLine(33,35)
    p
        margin-bottom 0
    &[data-type="light"]
        color $darkGrey
    &[data-type="dark"]
        color white
    &--hero
        height 100vh
        flex-flow column
        padding-bottom 55px
        padding-top calc((var(--menu-bar-height) + var(--login-bar-height)) * 1px)
        .meta
            margin-top auto
            align-items center
            .content
                fontSize(14)
                color #d4d4d4
                text-align left
                margin-left 1em
            .author
                color white
                fontSize(16)

.content-anchor
    z-index 1
    fill white
    bottom 30px
    height 20px
    display block
    centerObject(true, false)

.bg-image.alignfull
    top 0
    z-index 0
    height 100%
    position absolute
    img
        z-index 0
        height 100%
        object-fit cover
        position relative
    &::before
        top 0
        left 0
        right 0
        bottom 0
        z-index 1
        content ''
        position absolute
        background-color rgba($darkGrey, .3)

.item
    text-align left
    margin-bottom 2em
    border-bottom 2px solid #d8d8d8
    figure
        position relative
        margin-bottom 15px
        a
            display block
    .beta
        margin-bottom 5px
        fontSizeLine(25, 28)
    .meta
        fontSize(14)
        color $lightGrey
        margin-bottom 1em
        time::after
            background-color $lightGrey
    .content
        fontSize(14)
        p, li
            &:last-child
                margin-bottom 0
    &__link
        fontSize(14)
        padding 1.5em 0
        display inline-block
        &, &:visited
            color $lightGrey
        .ico
            fill $lightGrey
        .ico, span
            display inline-block
            vertical-align middle
        span
            text-decoration underline

.meta
    time, .reading-time, .categories
        display inline-block
    time
        margin-right 2px
        position relative
        padding-right 7px
        text-transform lowercase
        &::after
            right 0
            content ''
            width 1px
            height 80%
            centerObject(false, true)

.avatar
    border-radius 100%

.categories a
    color $lightGrey

.button
    font-weight 500
    padding 10px 18px
    border-radius 22px
    font-family $rubik
    display inline-block
    &--filled
        border none
    span, .ico
        display inline-block
        vertical-align middle
    span
        margin-right 5px
    for $color in $buttonsArray
        &--{$color[0]}
            color $color[1]
            background-color $color[2]
            &:visited
                color $color[1]
            .ico
                fill $color[1]

.alpha-warning
    fontSize(9)
    padding 3px 6px
    border-radius 30px
    display inline-block
    background-color white
    text-transform uppercase

.no-touch
    .button
        &, .ico
            transition all $basetransition
        &:hover, &:hover .ico
            transition all $pseudotransition
        for $color in $buttonsArray
            &--{$color[0]}:hover
                color $color[3]
                background-color $color[4]
                .ico
                    fill $color[3]