/* ---------------------------- *\
    
    $Main

\* ---------------------------- */

html
    background-color var( --main-page-color )
    &.scrollbar--blocked
        overflow hidden

body
    overflow hidden
    position relative
    font-family $rubik
    width calc(100vw - var(--scrollbar))

.page__header
    color white
    text-align center
    position relative
    align-items center
    padding-bottom 30px
    justify-content center
    padding-top calc( ( (var( --menu-bar-height ) + var( --login-bar-height ) ) * 1px) + 15px )
    .title
        margin-bottom 10px
        fontSizeLine(33,35)
    p
        margin-bottom 0
    &--hero
        height 100vh
        padding-bottom 55px
        padding-top calc( ( var( --menu-bar-height ) + var( --login-bar-height ) ) * 1px )

.item
    text-align left
    margin-bottom 2em
    border-bottom 2px solid #d8d8d8
    figure
        position relative
        margin-bottom 15px
        a
            display block
    .beta
        margin-bottom 5px
        fontSizeLine(25, 28)
    .meta
        fontSize(14)
        color $lightGrey
        margin-bottom 1em
    time, .reading-time, .categories
        display inline-block
    time
        margin-right 2px
        position relative
        padding-right 7px
        text-transform lowercase
        &::after
            right 0
            content ''
            width 1px
            height 80%
            centerObject(false, true)
            background-color $lightGrey
    .content
        fontSize(14)
        p, li
            &:last-child
                margin-bottom 0
    &__link
        fontSize(14)
        padding 1.5em 0
        color $darkGrey
        display inline-block
        .ico
            fill $darkGrey
        .ico, span
            display inline-block
            vertical-align middle
        span
            text-decoration underline

.categories a
    color $lightGrey

.button
    font-weight 500
    padding 10px 18px
    border-radius 22px
    display inline-block
    span, .ico
        display inline-block
        vertical-align middle
    span
        margin-right 5px
    for $color in $buttonsArray
        &--{$color[0]}
            color $color[1]
            background-color $color[2]
            &:visited
                color $color[1]
            .ico
                fill $color[1]

.alpha-warning
    fontSize(9)
    padding 3px 6px
    border-radius 30px
    display inline-block
    background-color white
    text-transform uppercase

.no-touch
    .button
        &, .ico
            transition all $basetransition
        &:hover, &:hover .ico
            transition all $pseudotransition
        for $color in $buttonsArray
            &--{$color[0]}:hover
                color $color[3]
                background-color $color[4]
                .ico
                    fill $color[3]
    