/* ---------------------------- *\

    $Nav $Menu

\*----------------------------- */

.toggle-nav
    padding 0
    color white
    border none
    outline none
    margin-right 0
    margin-left auto
    font-family $rubik
    pointer-events all
    background-color transparent
    span
        font-weight 500
        display inline-block
        vertical-align middle
        text-transform uppercase
    &__hamburger
        border-radius 50%
        position relative
        background-color white
        span, span::before, span::after
            display block
            position absolute
        span::before, span::after
            content ''
            will-change transform
            background-color inherit
            backface-visibility hidden
        span, span::before
            transition transform 100ms linear
        span
            top 50%
            left 50%
            background-color var( --main-page-color )
        span::after
            transition opacity 100ms linear
    &.active
        .toggle-nav__hamburger
            span, span::before
                transition transform 100ms ease-in-out
            span
                transform rotate(45deg)
            span::before
                margin 0
                transform rotate(90deg)
            span::after
                opacity 0
                transition opacity 100ms ease-in-out

.nav
    top 0
    left 0
    right 0
    bottom 0
    opacity 0
    z-index 10
    display flex
    position fixed
    color $mmPurple
    overflow-y auto
    flex-flow column
    will-change opacity
    pointer-events none
    overflow-scrolling touch
    background-color $mmTurquoise
    background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%233e988e' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E")
    transition opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1), transform 0.5s cubic-bezier(0.19, 1, 0.22, 1)
    &--opened&
        opacity 1
        width 100vw
        height 100vh
        transform none
        pointer-events auto
        transition opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1), transform 0.5s cubic-bezier(0.19, 1, 0.22, 1)
    .content
        margin auto 0
    &__items
        margin-bottom 1em
        white-space pre-line
        a
            color $mmPurple
            font-weight 500
            position relative
            margin-bottom 10px
            display inline-block
            will-change transform
            animation-duration 500ms
    &__colophon
        margin-top auto
        margin-bottom 0

.lang-switcher
    color $mmPurple
    position relative
    display inline-block
    will-change transform
    animation-duration 800ms
    .ico
        left 0
        fill $mmPurple
        centerObject(false, true)

.no-touch
    .nav__items a
        transition all $basetransition
        &::before
            width 0
            opacity .5  
            content ''
            z-index -1
            left -10px
            height 15px
            background-color white
            centerObject(false, true)
            transition width 400ms linear
        &:hover
            color $mmRed
            transition all $pseudotransition
            &::before
                width calc(100% + 20px)
                transition width 400ms ease-in-out
    .lang-switcher
        transition all $basetransition
        .ico
            transition fill $basetransition
        &:hover
            color $mmRed
            transition all $pseudotransition
            .ico
                fill $mmRed
                transition fill $pseudotransition
    .header .toggle-nav
        transition color $basetransition
        &:not(.active)
            .toggle-nav__hamburger
                transition background-color $basetransition, transform $basetransition
                span
                    transition transform 100ms linear, background-color $basetransition
                &:hover
                    transform scale(.9)
                    transition transform $pseudotransition
    /.menu--opened &
        .toggle-nav
            &__hamburger
                transition background-color $basetransition
            &:hover
                color $mmRed
                .toggle-nav__hamburger
                    background-color $mmRed
                    transition background-color $pseudotransition

/* ---------------------------- *\

    $Media $Queries

\*----------------------------- */

+above(1200)
    /* $min-width: $1200px */
    
    .toggle-nav
        span
            fontSize(20)
        &__hamburger
            width 48px
            height 48px
            margin-left 18px
            span, span::before, span::after
                height 4px
            span, span::before
                width 28px
            span
                margin-top -2px
                margin-left -14px
            span::before
                margin-top -9px
            span::after
                left 3px
                width 22px
                margin-top 9px

    .nav
        padding-top 150px
        &__items a
            fontSizeLine(60)

    .lang-switcher
        fontSize(28)
        padding-left 40px
        .ico
            width 30px
            height 30px

+between(768, 1199)
    /* $min-width: $768px // $max-width: $1199px */
    
    .toggle-nav
        span
            fontSize(16)
        &__hamburger
            width 42px
            height 42px
            margin-left 10px
            span, span::before, span::after
                height 3px
            span, span::before
                width 22px
            span
                margin-top -1.5px
                margin-left -11px
            span::before
                margin-top -7px
            span::after
                left 2px
                width 18px
                margin-top 7px

    .nav
        padding-top 90px
        &__items
            a
                fontSizeLine(45)

+above(768)
    /* $min-width: $768px */
    
    .nav
        &__colophon
            fontSize(20)
    
    .lang-switcher
        fontSize(25)
        padding-left 35px
        .ico
            width 25px
            height 25px

+below(700, false)
    /* $max-width: $700 */
    
    .nav
        &__items
            a
                fontSizeLine(25)
        &__colophon
            fontSize(14)
    
    .lang-switcher
        fontSizeLine(16)
        padding-left 30px
        .ico
            width 20px
            height 20px

+below(767)
    /* $max-width: $767px */
    
    .toggle-nav
        span
            fontSize(14)
        &__hamburger
            width 28px
            height 28px
            margin-left 5px
            span, span::before, span::after
                height 2px
            span, span::before
                width 16px
            span
                margin-top -1px
                margin-left -8px
            span::before
                margin-top -5px
            span::after
                left 2px
                width 12px
                margin-top 5px
    
    .nav
        padding-top 55px
        &__items
            a
                fontSizeLine(25)
        &__colophon
            fontSize(14)
    
    .lang-switcher
        padding-left 30px
        .ico
            width 20px
            height 20px